<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>@import "CSS.css";
    @import "internetTopBar.css";</style>
    <style type="text/css">


    </style>
</head>
<body>
<div class="page">
    <div class="top">
        <center>
            <ul>
                <li><a href="#"><img src="pics/logo_white_transparent.png" height="25"></a></li>

                <li><a href="#">BreadMud</a></li>
                <li><a href="#">EggMud</a></li>
                <li><a href="#">Jiawa</a></li>
                <li><a href="#">MudEEE Music</a></li>
                <li>
                    <a href="#">Support</a>
                    <ul>
                        <li><a href="#">二级菜单</a></li>
                        <li><a href="#">二级菜单</a></li>
                    </ul>
                </li>
            </ul>
        </center>
    </div>
    <div class="topBlank" style="height: 90px"></div>
    <div class="t1">
        <center>
            <b style="font-size: 110px; text-align: center; ">BreadMud 12</b>
            <p style="font-size: 70px; margin-top: 0px">E E E.</p>
            <div style="margin-top: 40px">
                <a style="margin-right: 80px;">Learn more ></a>
                <a>Buy ></a>
            </div>
            <img align="middle" src="pics/5BMs.png" style="margin-top: 60px">
        </center>
    </div>
</div>
</body>
</html>