<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MudUnion</title>

    <style>@import "/static/css/CSS.css";
    @import "/static/css/internetTopBar.css";</style>

    <style type="text/css">


    </style>
</head>
<body>
<div class="page">
    <div class="top">
        <center>
            <ul>
                <li><a href="#"><img src="/static/pics/logo_white_transparent.png" height="25"></a></li>
                <li><a href="#">BreadMud</a></li>
                <li><a href="#">EggMud</a></li>
                <li><a href="#">Jvav</a></li>
                <li><a href="#">MudSERVER</a></li>
                <li><a href="#">∃E∈OS</a></li>
                <li><a href="#">M-Chemistry</a></li>
                <li><a href="{% url 'pupil' %}">PupilCorp</a></li>
                <li><a href="#">Muddy Daily</a></li>
                <li>
                    <a href="#">Support</a>
                    <ul>
                        <li><a href="#">二级菜单</a></li>
                        <li><a href="#">二级菜单</a></li>
                    </ul>
                </li>
            </ul>
        </center>
    </div>
    <div class="topBlank" style="height: 90px"></div>
    <div class="t1">
        <center>
            <b style="font-size: 110px; text-align: center; ">BreadMud THIRTEEN</b>
            <p style="font-size: 70px; margin-top: 0px">E E E.</p>
            <div style="margin-top: 40px">
                <a style="margin-right: 80px;">Learn more ></a>
                <a>Buy ></a>
            </div>
            <img align="middle" src="/static/pics/5BMs.png" style="margin-top: 60px">
        </center>
    </div>
</div>
</body>
</html>